<div class="container">
  <div class="banner">
    <div class="digi-text sub-title">Report de Torneio</div>
    <div class="digi-text main-title">DIGIMON</div>
    <div class="digi-text sub-title">NOVA ERA TCG</div>
  </div>
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="tournament-form">
    @if(step == 1) {
    <div class="section">
      <h2>Dados do Torneio</h2>
      <hr />
      <div class="field">
        <label>Loja*</label>
        <input type="text" formControlName="store" />
      </div>
      <div class="field">
        <label>Tipo Torneio*</label>
        <input type="text" formControlName="type" />
      </div>

      <div class="field">
        <label>Data Torneio*</label>
        <input type="date" formControlName="date" />
      </div>

      <div class="field">
        <label>Total Participantes*</label>
        <input type="number" formControlName="participants" />
      </div>
    </div>
    } @else {
    <div class="section">
      <h2>Top 8</h2>
      <hr />
      <div formArrayName="top8" class="top8-list">
        <div *ngFor="let item of top8.controls; let i = index" [formGroupName]="i">
          <div class="card-item">
            <div class="card-header">
              <h3>Posição #{{ i + 1 }}</h3>
            </div>
            <div class="field">
              <label>Jogador</label>
              <input type="text" formControlName="player" />
            </div>

            <div class="field">
              <label>Deck</label>
              <input type="text" formControlName="deck" />
            </div>

            <div class="field">
              <label>Cores (Max 3)</label>
              <mat-chip-grid #reactiveChipGrid aria-label="Enter colors" formControlName="colors">
                <input
                  #colorInput
                  [placeholder]="
                    getColorsControl(i).value.length >= 3 ? 'Limite de 3 cores atingido' : ''
                  "
                  [matChipInputFor]="reactiveChipGrid"
                  (matChipInputTokenEnd)="addColor($event, i)"
                  [matChipInputAddOnBlur]="true"
                  [matAutocomplete]="auto"
                  [disabled]="getColorsControl(i).value.length >= 3"
                />
                @for (keyword of getColorsControl(i).value; track keyword) {
                <mat-chip-row (removed)="removeColor(keyword, i)">
                  <span class="circle" [style]="{ backgroundColor: keyword }"></span>{{ keyword }}
                  <button matChipRemove [attr.aria-label]="'remove ' + keyword">
                    <mat-icon>cancel</mat-icon>
                  </button>
                </mat-chip-row>
                }
                <mat-autocomplete
                  #auto="matAutocomplete"
                  (optionSelected)="selectedColor($event, i); colorInput.value = ''"
                >
                  @for (color of availableColors(i); track color) {
                  <mat-option [value]="color">{{ color }}</mat-option>
                  }
                </mat-autocomplete>
              </mat-chip-grid>
            </div>

            <div class="field">
              <label>Cartas Ref. (ex: BT12-023)</label>
              <mat-chip-grid #reactiveChipGrid aria-label="Enter cards" formControlName="cards">
                <input
                  [placeholder]="
                    getCardsControl(i).value.length >= 3 ? 'Limite de 3 cards atingido' : ''
                  "
                  [matChipInputFor]="reactiveChipGrid"
                  (matChipInputTokenEnd)="addCard($event, i)"
                  [matChipInputAddOnBlur]="true"
                  [disabled]="getCardsControl(i).value.length >= 3"
                />
                @for (keyword of getCardsControl(i).value; track keyword) {
                <mat-chip-row (removed)="removeCard(keyword, i)">
                  {{ keyword }}
                  <button matChipRemove [attr.aria-label]="'remove ' + keyword">
                    <mat-icon>cancel</mat-icon>
                  </button>
                </mat-chip-row>
                }
              </mat-chip-grid>
            </div>
          </div>
        </div>
      </div>
    </div>
    }
    <div class="buttons">
      @if(step == 1) {
      <button type="button" class="btn primary" (click)="step = 2">Informar TOP8</button>
      } @else {
      <button type="button" class="btn primary" (click)="step = 1">Editar Dados Torneio</button>
      <button type="submit" class="btn submit">Salvar</button>
      }
    </div>
  </form>
</div>
