.container {
  background-image: url('../../../assets/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 24px;
  min-width: 1000px;
  max-width: 1000px;
  height: 100%;
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-size: cover;
  background-position: center;
  font-family: 'Chakra Petch', sans-serif;
  position: relative;
  overflow: hidden;
  height: 100%;
  padding-bottom: 10px;

  .digi-text {
    place-content: center;
    padding-bottom: 10px;
  }
}

.tournament-form {
  max-width: 900px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 30px;

  .section {
    background: #ffffff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);

    h2 {
      margin-bottom: 16px;
      color: #001540;
      font-size: 24px;
    }
  }

  .field {
    display: flex;
    flex-direction: column;
    margin: 24px 0;

    label {
      font-weight: 600;
      margin-bottom: 5px;
      font-size: 18px;
      color: #001540;
    }

    input {
      padding: 8px;
      border: 1px solid #dcdcdc;
      border-radius: 6px;
      font-size: 22px;
      font-weight: normal;

      &:focus {
        outline: none;
        border-color: #4a73ff;
      }
    }
  }

  .buttons {
    display: flex;
    flex-direction: row;
    gap: 8px;
  }

  .btn {
    flex: 1;
    border: none;
    border-radius: 6px;
    padding: 6px 14px;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    padding: 10px 20px;

    &.primary {
      background: #4a73ff;
      color: white;
    }

    &.danger {
      background: #e63946;
      color: white;
    }

    &.submit {
      background: #198754;
      color: white;
    }

    &.small {
      padding: 4px 10px;
      font-size: 13px;
    }
  }

  .top8-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .top8-card {
    background: #fafafa;
    padding: 16px;
    border-radius: 10px;
    border: 1px solid #ddd;

    .card-header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      h3 {
        margin: 0;
      }
    }
  }

  .tag-container {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    align-items: center;

    .tag {
      display: flex;
      align-items: center;
      background: #e3e8ff;
      padding: 4px 10px;
      border-radius: 20px;
      gap: 6px;

      button {
        background: transparent;
        border: none;
        cursor: pointer;
        font-weight: bold;
      }
    }
  }
}

.card-item {
  display: flex;
  flex-direction: row;
  gap: 4px;
  flex-wrap: wrap;
  justify-content: space-between;
  .card-header {
    flex: 1 1 100%;
    background-color: #001540;
    color: white;
    padding: 8px 16px;
    border-radius: 4px;
    margin-top: 12px;
    margin-bottom: 8px;
  }
  .field {
    flex: 0 0 49%;
    margin: 0;
    padding-bottom: 4px;
  }
}
