.Result {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  &__banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    background-size: cover;
    background-position: center;
    font-family: 'Chakra Petch', sans-serif;
    position: relative;
    overflow: hidden;

    .digi-text {
      place-content: center;
    }
  }
  &__data {
    display: flex;
    flex-direction: column;
    gap: 8px;
    border: 4px solid #001540;
    padding: 8px 16px;
    border-radius: 8px;
    width: 50%;
    justify-content: space-around;
  }

  .digi-text {
    display: flex;
    gap: 6px;
  }
}

.container {
  background-image: url('../../../assets/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 24px;
  max-height: 1080px;
  min-width: 1000px;
  max-width: 1000px;
  height: 100%;
}

.htmlToImgBtn {
  background-color: #001540;
  color: white;
  padding: 18px 40px;
  font-size: 20px;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin: 8px;

  box-shadow: 0 4px 10px rgba(0, 21, 64, 0.4);
  transition: background-color 0.25s, transform 0.15s;

  &:hover {
    background-color: lighten(#001540, 10%);
    transform: translateY(-2px);
  }

  &:active {
    background-color: darken(#001540, 8%);
    transform: translateY(0);
  }
}
