.Result {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  &__banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    background-size: cover;
    background-position: center;
    font-family: 'Chakra Petch', sans-serif;
    position: relative;
    overflow: hidden;

    .digi-text {
      place-content: center;
    }
  }
  &__data {
    display: flex;
    flex-direction: column;
    gap: 8px;
    border: 4px solid #001540;
    padding: 8px 16px;
    border-radius: 8px;
    width: 50%;
    justify-content: space-around;
  }

  .digi-text {
    display: flex;
    gap: 6px;
  }
}

.container {
  background-image: url('../../../assets/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 24px;
  max-height: 1080px;
  min-width: 1000px;
  max-width: 1000px;
  height: 100%;
}
