
// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  height: 100%;
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
  height: 100%;
}
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@1,700&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/
   v5.0.1 | 20191019
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}
/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}
body {
  line-height: 1;
}
menu,
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  font-family: 'Chakra Petch', sans-serif;
}

.digi-text {
  font-weight: 900;
  font-style: italic;
  color: white;
  text-transform: uppercase;
  line-height: 1;
  -webkit-text-stroke: 6px #001540;
  paint-order: stroke fill;
  filter: drop-shadow(0px 2px 0px rgba(0, 0, 0, 0.2));
  z-index: 2;

  &.sub-title {
    font-size: 2rem;
    letter-spacing: 2px;
    -webkit-text-stroke: 4px #001540;
    margin-bottom: -5px;
  }

  &.main-title {
    font-size: 6rem;
    letter-spacing: -2px;
    position: relative;
    width: 100%;
    text-align: center;
    -webkit-text-stroke: 10px #001540;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 35%;
      background-color: #001540;
      transform: translateY(-50%);
      z-index: -1;
    }
  }

  &.regular {
    font-size: 1.5rem;
    margin-top: 5px;
    -webkit-text-stroke: 4px #001540;
  }

  &.rank {
    position: absolute;
    font-size: 58px;
    height: 100%;
    width: 100%;
    -webkit-text-stroke: 10px #001540;
    align-content: center;
    text-align: center;
    top: -3px;
    left: 0;
  }

  &.header {
    font-size: 2rem;
    letter-spacing: 2px;
    -webkit-text-stroke: 4px #001540; /* Borda um pouco mais fina */
  }

  &.subheader {
    font-size: 1rem;
    letter-spacing: 2px;
    -webkit-text-stroke: 4px #001540; /* Borda um pouco mais fina */
  }
}

.separador {
  border: 0;
  border-top: 1px solid white;
  width: 100%;
  margin: 4px 0;
}
